.calendar-wrapper {
    max-width: 280px;
    font: 100% system-ui;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.first-day {
    grid-column-start: 4;
}

.day-name {
    background: lightgrey;
}

h1 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 2px;
}

ol.calendar li:nth-child(7n-2),
ol.calendar li:nth-child(7n-3) {
    background-color: lightblue;
}

ol.calendar li:nth-child(4),
ol.calendar li:nth-child(5) {
    background-color: lightblue;
}


